<ActionBar>
    <Label text="Homepage"></Label>
</ActionBar>

<ScrollView>
    <StackLayout>
        <GridLayout rows="*,*,*" class="grid">
            <Label id="id1" text="lbl01" row="0"></Label>
            <Label id="id2" text="lbl02" row="1"></Label>
            <Label id="id3" text="lbl03" row="2"></Label>
        </GridLayout>

        <GridLayout columns="*,*,*" class="grid">
            <Label id="id4" text="lbl01" column="0"></Label>
            <Label id="id5" text="lbl02" column="1"></Label>
            <Label id="id6" text="lbl03" column="2"></Label>
        </GridLayout>

        

    </StackLayout>
</ScrollView>