Label {
    text-align: center;
}

.grid {
    border-color: black;
    border-bottom-width: 1;
    padding-bottom: 5;
    margin-top: 5;
}

.title {
    font-size: 20;
}

#id1, #id4, #id7 {
    background-color: green;
}

#id2, #id5, #id8 {
    background-color: yellow;
}

#id3, #id6, #id9 {
    background-color: red;
}